# reading a text (.txt) file

In [210]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#reading a text file 
filename = 'filename.txt'
file = open(filename, mode='r') #r is to read the file only without subjecting it to editing
text = file.read()
file.close() #closing the connection to the file
print(text) #to open the content of the file

FileNotFoundError: [Errno 2] No such file or directory: 'filename.txt'

In [ ]:
#writing to a text file

filename = 'filename.txt'
file = open(filename, mode='w') #w is to write in the text file
file.close()

In [ ]:
#reading a text file with con text manager
#using context manager prevents you from writing such long code like the first one above in order to open a file

with open('filename.txt', 'r') as file:
    print(file.read())
    
#with the 'with' statement, you wont concern yourself with closing the file again

In [ ]:
#Importing text files line by line
#For large files, we may not want to print all of their content to the shell: you may wish to print only the first few lines. Enter the readline()

with open('filename.txt') as file:
    print(file.readline())

# importing a flat (.csv | .txt) file

A flat file, also known as a text database, is a type of database that stores data in a plain text format.

The come in 2 formats:
. Flat files with  numerical data (MNIST)
. Flat files with numerical data and strings (eg. titanic.csv)

Packages for importing flat files:
. NumPy
. Pandas

# Importing flat files using NumPy

NumPy: standard for storing numerical data
Essensial for other packages: eg. scikit-learn

Functions for importing numpy as arrays
. loadtxt() : This function is limited due to its inability to import data with mixedd data set like strings, floats, etc..
. genfromtxt() : This funtion is used to open data with mixed data types
. recfromcsv() : Also used to open mixed datatypes but this function automatically sets the dtype=None

In [9]:
#importing flat file using loadtxt() function
import numpy as np

filename = 'mnist_kaggle_some_rows.csv.txt'
data = np.loadtxt(filename, delimiter=',')
data

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [2., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])

In [5]:
#customizing numpy import
#removing numeric data with strings as header

filename = 'mnist_kaggle_some_rows.csv.txt'
data = np.loadtxt(filename, delimiter=',', skiprows=1)
data

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       ...,
       [2., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [5., 0., 0., ..., 0., 0., 0.]])

In [21]:
#customizing numpy import
#selecting columns to open

filename = 'mnist_kaggle_some_rows.csv.txt'
data = np.loadtxt(filename, delimiter=',', skiprows=1, usecols=[0,2]) #opening only first and thrid column of the data
print(data)

[[0. 0.]
 [1. 0.]
 [4. 0.]
 [0. 0.]
 [0. 0.]
 [7. 0.]
 [3. 0.]
 [5. 0.]
 [3. 0.]
 [8. 0.]
 [9. 0.]
 [1. 0.]
 [3. 0.]
 [3. 0.]
 [1. 0.]
 [2. 0.]
 [0. 0.]
 [7. 0.]
 [5. 0.]
 [8. 0.]
 [6. 0.]
 [2. 0.]
 [0. 0.]
 [2. 0.]
 [3. 0.]
 [6. 0.]
 [9. 0.]
 [9. 0.]
 [7. 0.]
 [8. 0.]
 [9. 0.]
 [4. 0.]
 [9. 0.]
 [2. 0.]
 [1. 0.]
 [3. 0.]
 [1. 0.]
 [1. 0.]
 [4. 0.]
 [9. 0.]
 [1. 0.]
 [4. 0.]
 [4. 0.]
 [2. 0.]
 [6. 0.]
 [3. 0.]
 [7. 0.]
 [7. 0.]
 [4. 0.]
 [7. 0.]
 [5. 0.]
 [1. 0.]
 [9. 0.]
 [0. 0.]
 [2. 0.]
 [2. 0.]
 [3. 0.]
 [9. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [5. 0.]
 [0. 0.]
 [6. 0.]
 [3. 0.]
 [4. 0.]
 [8. 0.]
 [1. 0.]
 [0. 0.]
 [3. 0.]
 [9. 0.]
 [6. 0.]
 [2. 0.]
 [6. 0.]
 [4. 0.]
 [7. 0.]
 [1. 0.]
 [4. 0.]
 [1. 0.]
 [5. 0.]
 [4. 0.]
 [8. 0.]
 [9. 0.]
 [2. 0.]
 [9. 0.]
 [9. 0.]
 [8. 0.]
 [9. 0.]
 [6. 0.]
 [3. 0.]
 [6. 0.]
 [4. 0.]
 [6. 0.]
 [2. 0.]
 [9. 0.]
 [1. 0.]
 [2. 0.]
 [0. 0.]
 [5. 0.]]

In [47]:
#customizing numpy import
#importing data in strings

filename = 'mnist_kaggle_some_rows.csv.txt'
data = np.loadtxt(filename, delimiter=',', skiprows=1, dtype=str) #opening only first and thrid column of the data
print(data)

[['0.0' '0.0' '0.0' ... '0.0' '0.0' '0.0']
 ['1.0' '0.0' '0.0' ... '0.0' '0.0' '0.0']
 ['4.0' '0.0' '0.0' ... '0.0' '0.0' '0.0']
 ...
 ['2.0' '0.0' '0.0' ... '0.0' '0.0' '0.0']
 ['0.0' '0.0' '0.0' ... '0.0' '0.0' '0.0']
 ['5.0' '0.0' '0.0' ... '0.0' '0.0' '0.0']]

In [22]:
type(data)

numpy.ndarray

In [23]:
#importing flat file using genfromtxt() function
filename = 'titanic_sub.csv.txt'
data2 = np.genfromtxt(filename, delimiter=',', names=True, dtype=None) #names refers to the header
data2

<ipython-input-23-c81ee2521638>:3: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  data2 = np.genfromtxt(filename, delimiter=',', names=True, dtype=None) #names refers to the header

array([(  1, 0, 3, b'male', 22.  , 1, 0, b'A/5 21171',   7.25  , b'', b'S'),
       (  2, 1, 1, b'female', 38.  , 1, 0, b'PC 17599',  71.2833, b'C85', b'C'),
       (  3, 1, 3, b'female', 26.  , 0, 0, b'STON/O2. 3101282',   7.925 , b'', b'S'),
       (  4, 1, 1, b'female', 35.  , 1, 0, b'113803',  53.1   , b'C123', b'S'),
       (  5, 0, 3, b'male', 35.  , 0, 0, b'373450',   8.05  , b'', b'S'),
       (  6, 0, 3, b'male',   nan, 0, 0, b'330877',   8.4583, b'', b'Q'),
       (  7, 0, 1, b'male', 54.  , 0, 0, b'17463',  51.8625, b'E46', b'S'),
       (  8, 0, 3, b'male',  2.  , 3, 1, b'349909',  21.075 , b'', b'S'),
       (  9, 1, 3, b'female', 27.  , 0, 2, b'347742',  11.1333, b'', b'S'),
       ( 10, 1, 2, b'female', 14.  , 1, 0, b'237736',  30.0708, b'', b'C'),
       ( 11, 1, 3, b'female',  4.  , 1, 1, b'PP 9549',  16.7   , b'G6', b'S'),
       ( 12, 1, 1, b'female', 58.  , 0, 0, b'113783',  26.55  , b'C103', b'S'),
       ( 13, 0, 3, b'male', 20.  , 0, 0, b'A/5. 2151',   8.05  , b'', b'S'),
       ( 14, 0, 3, b'male', 39.  , 1, 5, b'347082',  31.275 , b'', b'S'),
       ( 15, 0, 3, b'female', 14.  , 0, 0, b'350406',   7.8542, b'', b'S'),
       ( 16, 1, 2, b'female', 55.  , 0, 0, b'248706',  16.    , b'', b'S'),
       ( 17, 0, 3, b'male',  2.  , 4, 1, b'382652',  29.125 , b'', b'Q'),
       ( 18, 1, 2, b'male',   nan, 0, 0, b'244373',  13.    , b'', b'S'),
       ( 19, 0, 3, b'female', 31.  , 1, 0, b'345763',  18.    , b'', b'S'),
       ( 20, 1, 3, b'female',   nan, 0, 0, b'2649',   7.225 , b'', b'C'),
       ( 21, 0, 2, b'male', 35.  , 0, 0, b'239865',  26.    , b'', b'S'),
       ( 22, 1, 2, b'male', 34.  , 0, 0, b'248698',  13.    , b'D56', b'S'),
       ( 23, 1, 3, b'female', 15.  , 0, 0, b'330923',   8.0292, b'', b'Q'),
       ( 24, 1, 1, b'male', 28.  , 0, 0, b'113788',  35.5   , b'A6', b'S'),
       ( 25, 0, 3, b'female',  8.  , 3, 1, b'349909',  21.075 , b'', b'S'),
       ( 26, 1, 3, b'female', 38.  , 1, 5, b'347077',  31.3875, b'', b'S'),
       ( 27, 0, 3, b'male',   nan, 0, 0, b'2631',   7.225 , b'', b'C'),
       ( 28, 0, 1, b'male', 19.  , 3, 2, b'19950', 263.    , b'C23 C25 C27', b'S'),
       ( 29, 1, 3, b'female',   nan, 0, 0, b'330959',   7.8792, b'', b'Q'),
       ( 30, 0, 3, b'male',   nan, 0, 0, b'349216',   7.8958, b'', b'S'),
       ( 31, 0, 1, b'male', 40.  , 0, 0, b'PC 17601',  27.7208, b'', b'C'),
       ( 32, 1, 1, b'female',   nan, 1, 0, b'PC 17569', 146.5208, b'B78', b'C'),
       ( 33, 1, 3, b'female',   nan, 0, 0, b'335677',   7.75  , b'', b'Q'),
       ( 34, 0, 2, b'male', 66.  , 0, 0, b'C.A. 24579',  10.5   , b'', b'S'),
       ( 35, 0, 1, b'male', 28.  , 1, 0, b'PC 17604',  82.1708, b'', b'C'),
       ( 36, 0, 1, b'male', 42.  , 1, 0, b'113789',  52.    , b'', b'S'),
       ( 37, 1, 3, b'male',   nan, 0, 0, b'2677',   7.2292, b'', b'C'),
       ( 38, 0, 3, b'male', 21.  , 0, 0, b'A./5. 2152',   8.05  , b'', b'S'),
       ( 39, 0, 3, b'female', 18.  , 2, 0, b'345764',  18.    , b'', b'S'),
       ( 40, 1, 3, b'female', 14.  , 1, 0, b'2651',  11.2417, b'', b'C'),
       ( 41, 0, 3, b'female', 40.  , 1, 0, b'7546',   9.475 , b'', b'S'),
       ( 42, 0, 2, b'female', 27.  , 1, 0, b'11668',  21.    , b'', b'S'),
       ( 43, 0, 3, b'male',   nan, 0, 0, b'349253',   7.8958, b'', b'C'),
       ( 44, 1, 2, b'female',  3.  , 1, 2, b'SC/Paris 2123',  41.5792, b'', b'C'),
       ( 45, 1, 3, b'female', 19.  , 0, 0, b'330958',   7.8792, b'', b'Q'),
       ( 46, 0, 3, b'male',   nan, 0, 0, b'S.C./A.4. 23567',   8.05  , b'', b'S'),
       ( 47, 0, 3, b'male',   nan, 1, 0, b'370371',  15.5   , b'', b'Q'),
       ( 48, 1, 3, b'female',   nan, 0, 0, b'14311',   7.75  , b'', b'Q'),
       ( 49, 0, 3, b'male',   nan, 2, 0, b'2662',  21.6792, b'', b'C'),
       ( 50, 0, 3, b'female', 18.  , 1, 0, b'349237',  17.8   , b'', b'S'),
       ( 51, 0, 3, b'male',  7.  , 4, 1, b'3101295',  39.6875, b'', b'S'),
       ( 52, 0, 3, b'male', 21.  , 0, 0, b'A/4. 39886',   7.8   , b'', b'S'),
       ( 53, 1, 1, b'female', 49.  , 1, 0, b'PC 17572',  76.7292, b'D33', b'C'),
       ( 54, 1, 2, b'female', 29.  , 1, 0, b'2926',  26.    , b'', b'S'),
       ( 55, 0, 1, b'male', 65.  , 0, 1, b'113509',  61.9792, b'B30', b'C'),
       ( 56, 1, 1, b'male',   nan, 0, 0, b'19947',  35.5   , b'C52', b'S'),
       ( 57, 1, 2, b'female', 21.  , 0, 0, b'C.A. 31026',  10.5   , b'', b'S'),
       ( 58, 0, 3, b'male', 28.5 , 0, 0, b'2697',   7.2292, b'', b'C'),
       ( 59, 1, 2, b'female',  5.  , 1, 2, b'C.A. 34651',  27.75  , b'', b'S'),
       ( 60, 0, 3, b'male', 11.  , 5, 2, b'CA 2144',  46.9   , b'', b'S'),
       ( 61, 0, 3, b'male', 22.  , 0, 0, b'2669',   7.2292, b'', b'C'),
       ( 62, 1, 1, b'female', 38.  , 0, 0, b'113572',  80.    , b'B28', b''),
       ( 63, 0, 1, b'male', 45.  , 1, 0, b'36973',  83.475 , b'C83', b'S'),
       ( 64, 0, 3, b'male',  4.  , 3, 2, b'347088',  27.9   , b'', b'S'),
       ( 65, 0, 1, b'male',   nan, 0, 0, b'PC 17605',  27.7208, b'', b'C'),
       ( 66, 1, 3, b'male',   nan, 1, 1, b'2661',  15.2458, b'', b'C'),
       ( 67, 1, 2, b'female', 29.  , 0, 0, b'C.A. 29395',  10.5   , b'F33', b'S'),
       ( 68, 0, 3, b'male', 19.  , 0, 0, b'S.P. 3464',   8.1583, b'', b'S'),
       ( 69, 1, 3, b'female', 17.  , 4, 2, b'3101281',   7.925 , b'', b'S'),
       ( 70, 0, 3, b'male', 26.  , 2, 0, b'315151',   8.6625, b'', b'S'),
       ( 71, 0, 2, b'male', 32.  , 0, 0, b'C.A. 33111',  10.5   , b'', b'S'),
       ( 72, 0, 3, b'female', 16.  , 5, 2, b'CA 2144',  46.9   , b'', b'S'),
       ( 73, 0, 2, b'male', 21.  , 0, 0, b'S.O.C. 14879',  73.5   , b'', b'S'),
       ( 74, 0, 3, b'male', 26.  , 1, 0, b'2680',  14.4542, b'', b'C'),
       ( 75, 1, 3, b'male', 32.  , 0, 0, b'1601',  56.4958, b'', b'S'),
       ( 76, 0, 3, b'male', 25.  , 0, 0, b'348123',   7.65  , b'F G73', b'S'),
       ( 77, 0, 3, b'male',   nan, 0, 0, b'349208',   7.8958, b'', b'S'),
       ( 78, 0, 3, b'male',   nan, 0, 0, b'374746',   8.05  , b'', b'S'),
       ( 79, 1, 2, b'male',  0.83, 0, 2, b'248738',  29.    , b'', b'S'),
       ( 80, 1, 3, b'female', 30.  , 0, 0, b'364516',  12.475 , b'', b'S'),
       ( 81, 0, 3, b'male', 22.  , 0, 0, b'345767',   9.    , b'', b'S'),
       ( 82, 1, 3, b'male', 29.  , 0, 0, b'345779',   9.5   , b'', b'S'),
       ( 83, 1, 3, b'female',   nan, 0, 0, b'330932',   7.7875, b'', b'Q'),
       ( 84, 0, 1, b'male', 28.  , 0, 0, b'113059',  47.1   , b'', b'S'),
       ( 85, 1, 2, b'female', 17.  , 0, 0, b'SO/C 14885',  10.5   , b'', b'S'),
       ( 86, 1, 3, b'female', 33.  , 3, 0, b'3101278',  15.85  , b'', b'S'),
       ( 87, 0, 3, b'male', 16.  , 1, 3, b'W./C. 6608',  34.375 , b'', b'S'),
       ( 88, 0, 3, b'male',   nan, 0, 0, b'SOTON/OQ 392086',   8.05  , b'', b'S'),
       ( 89, 1, 1, b'female', 23.  , 3, 2, b'19950', 263.    , b'C23 C25 C27', b'S'),
       ( 90, 0, 3, b'male', 24.  , 0, 0, b'343275',   8.05  , b'', b'S'),
       ( 91, 0, 3, b'male', 29.  , 0, 0, b'343276',   8.05  , b'', b'S'),
       ( 92, 0, 3, b'male', 20.  , 0, 0, b'347466',   7.8542, b'', b'S'),
       ( 93, 0, 1, b'male', 46.  , 1, 0, b'W.E.P. 5734',  61.175 , b'E31', b'S'),
       ( 94, 0, 3, b'male', 26.  , 1, 2, b'C.A. 2315',  20.575 , b'', b'S'),
       ( 95, 0, 3, b'male', 59.  , 0, 0, b'364500',   7.25  , b'', b'S'),
       ( 96, 0, 3, b'male',   nan, 0, 0, b'374910',   8.05  , b'', b'S'),
       ( 97, 0, 1, b'male', 71.  , 0, 0, b'PC 17754',  34.6542, b'A5', b'C'),
       ( 98, 1, 1, b'male', 23.  , 0, 1, b'PC 17759',  63.3583, b'D10 D12', b'C'),
       ( 99, 1, 2, b'female', 34.  , 0, 1, b'231919',  23.    , b'', b'S'),
       (100, 0, 2, b'male', 34.  , 1, 0, b'244367',  26.    , b'', b'S'),
       (101, 0, 3, b'female', 28.  , 0, 0, b'349245',   7.8958, b'', b'S'),
       (102, 0, 3, b'male',   nan, 0, 0, b'349215',   7.8958, b'', b'S'),
       (103, 0, 1, b'male', 21.  , 0, 1, b'35281',  77.2875, b'D26', b'S'),
       (104, 0, 3, b'male', 33.  , 0, 0, b'7540',   8.6542, b'', b'S'),
       (105, 0, 3, b'male', 37.  , 2, 0, b'3101276',   7.925 , b'', b'S'),
       (106, 0, 3, b'male', 28.  , 0, 0, b'349207',   7.8958, b'', b'S'),
       (107, 1, 3, b'female', 21.  , 0, 0, b'343120',   7.65  , b'', b'S'),
       (108, 1, 3, b'male',   nan, 0, 0, b'312991',   7.775 , b'', b'S'),
       (109, 0, 3, b'male', 38.  , 0, 0, b'349249',   7.8958, b'', b'S'),
       (110, 1, 3, b'female',   nan, 1, 0, b'371110',  24.15  , b'', b'Q'),
       (111, 0, 1, b'male', 47.  , 0, 0, b'110465',  52.    , b'C110', b'S'),
       (112, 0, 3, b'female', 14.5 , 1, 0, b'2665',  14.4542, b'', b'C'),
       (113, 0, 3, b'male', 22.  , 0, 0, b'324669',   8.05  , b'', b'S'),
       (114, 0, 3, b'female', 20.  , 1, 0, b'4136',   9.825 , b'', b'S'),
       (115, 0, 3, b'female', 17.  , 0, 0, b'2627',  14.4583, b'', b'C'),
       (116, 0, 3, b'male', 21.  , 0, 0, b'STON/O 2. 3101294',   7.925 , b'', b'S'),
       (117, 0, 3, b'male', 70.5 , 0, 0, b'370369',   7.75  , b'', b'Q'),
       (118, 0, 2, b'male', 29.  , 1, 0, b'11668',  21.    , b'', b'S'),
       (119, 0, 1, b'male', 24.  , 0, 1, b'PC 17558', 247.5208, b'B58 B60', b'C'),
       (120, 0, 3, b'female',  2.  , 4, 2, b'347082',  31.275 , b'', b'S'),
       (121, 0, 2, b'male', 21.  , 2, 0, b'S.O.C. 14879',  73.5   , b'', b'S'),
       (122, 0, 3, b'male',   nan, 0, 0, b'A4. 54510',   8.05  , b'', b'S'),
       (123, 0, 2, b'male', 32.5 , 1, 0, b'237736',  30.0708, b'', b'C'),
       (124, 1, 2, b'female', 32.5 , 0, 0, b'27267',  13.    , b'E101', b'S'),
       (125, 0, 1, b'male', 54.  , 0, 1, b'35281',  77.2875, b'D26', b'S'),
       (126, 1, 3, b'male', 12.  , 1, 0, b'2651',  11.2417, b'', b'C'),
       (127, 0, 3, b'male',   nan, 0, 0, b'370372',   7.75  , b'', b'Q'),
       (128, 1, 3, b'male', 24.  , 0, 0, b'C 17369',   7.1417, b'', b'S'),
       (129, 1, 3, b'female',   nan, 1, 1, b'2668',  22.3583, b'F E69', b'C'),
       (130, 0, 3, b'male', 45.  , 0, 0, b'347061',   6.975 , b'', b'S'),
       (131, 0, 3, b'male', 33.  , 0, 0, b'349241',   7.8958, b'', b'C'),
       (132, 0, 3, b'male', 20.  , 0, 0, b'SOTON/O.Q. 3101307',   7.05  , b'', b'S'),
       (133, 0, 3, b'female', 47.  , 1, 0, b'A/5. 3337',  14.5   , b'', b'S'),
       (134, 1, 2, b'female', 29.  , 1, 0, b'228414',  26.    , b'', b'S'),
       (135, 0, 2, b'male', 25.  , 0, 0, b'C.A. 29178',  13.    , b'', b'S'),
       (136, 0, 2, b'male', 23.  , 0, 0, b'SC/PARIS 2133',  15.0458, b'', b'C'),
       (137, 1, 1, b'female', 19.  , 0, 2, b'11752',  26.2833, b'D47', b'S'),
       (138, 0, 1, b'male', 37.  , 1, 0, b'113803',  53.1   , b'C123', b'S'),
       (139, 0, 3, b'male', 16.  , 0, 0, b'7534',   9.2167, b'', b'S'),
       (140, 0, 1, b'male', 24.  , 0, 0, b'PC 17593',  79.2   , b'B86', b'C'),
       (141, 0, 3, b'female',   nan, 0, 2, b'2678',  15.2458, b'', b'C'),
       (142, 1, 3, b'female', 22.  , 0, 0, b'347081',   7.75  , b'', b'S'),
       (143, 1, 3, b'female', 24.  , 1, 0, b'STON/O2. 3101279',  15.85  , b'', b'S'),
       (144, 0, 3, b'male', 19.  , 0, 0, b'365222',   6.75  , b'', b'Q'),
       (145, 0, 2, b'male', 18.  , 0, 0, b'231945',  11.5   , b'', b'S'),
       (146, 0, 2, b'male', 19.  , 1, 1, b'C.A. 33112',  36.75  , b'', b'S'),
       (147, 1, 3, b'male', 27.  , 0, 0, b'350043',   7.7958, b'', b'S'),
       (148, 0, 3, b'female',  9.  , 2, 2, b'W./C. 6608',  34.375 , b'', b'S'),
       (149, 0, 2, b'male', 36.5 , 0, 2, b'230080',  26.    , b'F2', b'S'),
       (150, 0, 2, b'male', 42.  , 0, 0, b'244310',  13.    , b'', b'S'),
       (151, 0, 2, b'male', 51.  , 0, 0, b'S.O.P. 1166',  12.525 , b'', b'S'),
       (152, 1, 1, b'female', 22.  , 1, 0, b'113776',  66.6   , b'C2', b'S'),
       (153, 0, 3, b'male', 55.5 , 0, 0, b'A.5. 11206',   8.05  , b'', b'S'),
       (154, 0, 3, b'male', 40.5 , 0, 2, b'A/5. 851',  14.5   , b'', b'S'),
       (155, 0, 3, b'male',   nan, 0, 0, b'Fa 265302',   7.3125, b'', b'S'),
       (156, 0, 1, b'male', 51.  , 0, 1, b'PC 17597',  61.3792, b'', b'C'),
       (157, 1, 3, b'female', 16.  , 0, 0, b'35851',   7.7333, b'', b'Q'),
       (158, 0, 3, b'male', 30.  , 0, 0, b'SOTON/OQ 392090',   8.05  , b'', b'S'),
       (159, 0, 3, b'male',   nan, 0, 0, b'315037',   8.6625, b'', b'S'),
       (160, 0, 3, b'male',   nan, 8, 2, b'CA. 2343',  69.55  , b'', b'S'),
       (161, 0, 3, b'male', 44.  , 0, 1, b'371362',  16.1   , b'', b'S'),
       (162, 1, 2, b'female', 40.  , 0, 0, b'C.A. 33595',  15.75  , b'', b'S'),
       (163, 0, 3, b'male', 26.  , 0, 0, b'347068',   7.775 , b'', b'S'),
       (164, 0, 3, b'male', 17.  , 0, 0, b'315093',   8.6625, b'', b'S'),
       (165, 0, 3, b'male',  1.  , 4, 1, b'3101295',  39.6875, b'', b'S'),
       (166, 1, 3, b'male',  9.  , 0, 2, b'363291',  20.525 , b'', b'S'),
       (167, 1, 1, b'female',   nan, 0, 1, b'113505',  55.    , b'E33', b'S'),
       (168, 0, 3, b'female', 45.  , 1, 4, b'347088',  27.9   , b'', b'S'),
       (169, 0, 1, b'male',   nan, 0, 0, b'PC 17318',  25.925 , b'', b'S'),
       (170, 0, 3, b'male', 28.  , 0, 0, b'1601',  56.4958, b'', b'S'),
       (171, 0, 1, b'male', 61.  , 0, 0, b'111240',  33.5   , b'B19', b'S'),
       (172, 0, 3, b'male',  4.  , 4, 1, b'382652',  29.125 , b'', b'Q'),
       (173, 1, 3, b'female',  1.  , 1, 1, b'347742',  11.1333, b'', b'S'),
       (174, 0, 3, b'male', 21.  , 0, 0, b'STON/O 2. 3101280',   7.925 , b'', b'S'),
       (175, 0, 1, b'male', 56.  , 0, 0, b'17764',  30.6958, b'A7', b'C'),
       (176, 0, 3, b'male', 18.  , 1, 1, b'350404',   7.8542, b'', b'S'),
       (177, 0, 3, b'male',   nan, 3, 1, b'4133',  25.4667, b'', b'S'),
       (178, 0, 1, b'female', 50.  , 0, 0, b'PC 17595',  28.7125, b'C49', b'C'),
       (179, 0, 2, b'male', 30.  , 0, 0, b'250653',  13.    , b'', b'S'),
       (180, 0, 3, b'male', 36.  , 0, 0, b'LINE',   0.    , b'', b'S'),
       (181, 0, 3, b'female',   nan, 8, 2, b'CA. 2343',  69.55  , b'', b'S'),
       (182, 0, 2, b'male',   nan, 0, 0, b'SC/PARIS 2131',  15.05  , b'', b'C'),
       (183, 0, 3, b'male',  9.  , 4, 2, b'347077',  31.3875, b'', b'S'),
       (184, 1, 2, b'male',  1.  , 2, 1, b'230136',  39.    , b'F4', b'S'),
       (185, 1, 3, b'female',  4.  , 0, 2, b'315153',  22.025 , b'', b'S'),
       (186, 0, 1, b'male',   nan, 0, 0, b'113767',  50.    , b'A32', b'S'),
       (187, 1, 3, b'female',   nan, 1, 0, b'370365',  15.5   , b'', b'Q'),
       (188, 1, 1, b'male', 45.  , 0, 0, b'111428',  26.55  , b'', b'S'),
       (189, 0, 3, b'male', 40.  , 1, 1, b'364849',  15.5   , b'', b'Q'),
       (190, 0, 3, b'male', 36.  , 0, 0, b'349247',   7.8958, b'', b'S'),
       (191, 1, 2, b'female', 32.  , 0, 0, b'234604',  13.    , b'', b'S'),
       (192, 0, 2, b'male', 19.  , 0, 0, b'28424',  13.    , b'', b'S'),
       (193, 1, 3, b'female', 19.  , 1, 0, b'350046',   7.8542, b'', b'S'),
       (194, 1, 2, b'male',  3.  , 1, 1, b'230080',  26.    , b'F2', b'S'),
       (195, 1, 1, b'female', 44.  , 0, 0, b'PC 17610',  27.7208, b'B4', b'C'),
       (196, 1, 1, b'female', 58.  , 0, 0, b'PC 17569', 146.5208, b'B80', b'C'),
       (197, 0, 3, b'male',   nan, 0, 0, b'368703',   7.75  , b'', b'Q'),
       (198, 0, 3, b'male', 42.  , 0, 1, b'4579',   8.4042, b'', b'S'),
       (199, 1, 3, b'female',   nan, 0, 0, b'370370',   7.75  , b'', b'Q'),
       (200, 0, 2, b'female', 24.  , 0, 0, b'248747',  13.    , b'', b'S'),
       (201, 0, 3, b'male', 28.  , 0, 0, b'345770',   9.5   , b'', b'S'),
       (202, 0, 3, b'male',   nan, 8, 2, b'CA. 2343',  69.55  , b'', b'S'),
       (203, 0, 3, b'male', 34.  , 0, 0, b'3101264',   6.4958, b'', b'S'),
       (204, 0, 3, b'male', 45.5 , 0, 0, b'2628',   7.225 , b'', b'C'),
       (205, 1, 3, b'male', 18.  , 0, 0, b'A/5 3540',   8.05  , b'', b'S'),
       (206, 0, 3, b'female',  2.  , 0, 1, b'347054',  10.4625, b'G6', b'S'),
       (207, 0, 3, b'male', 32.  , 1, 0, b'3101278',  15.85  , b'', b'S'),
       (208, 1, 3, b'male', 26.  , 0, 0, b'2699',  18.7875, b'', b'C'),
       (209, 1, 3, b'female', 16.  , 0, 0, b'367231',   7.75  , b'', b'Q'),
       (210, 1, 1, b'male', 40.  , 0, 0, b'112277',  31.    , b'A31', b'C'),
       (211, 0, 3, b'male', 24.  , 0, 0, b'SOTON/O.Q. 3101311',   7.05  , b'', b'S'),
       (212, 1, 2, b'female', 35.  , 0, 0, b'F.C.C. 13528',  21.    , b'', b'S'),
       (213, 0, 3, b'male', 22.  , 0, 0, b'A/5 21174',   7.25  , b'', b'S'),
       (214, 0, 2, b'male', 30.  , 0, 0, b'250646',  13.    , b'', b'S'),
       (215, 0, 3, b'male',   nan, 1, 0, b'367229',   7.75  , b'', b'Q'),
       (216, 1, 1, b'female', 31.  , 1, 0, b'35273', 113.275 , b'D36', b'C'),
       (217, 1, 3, b'female', 27.  , 0, 0, b'STON/O2. 3101283',   7.925 , b'', b'S'),
       (218, 0, 2, b'male', 42.  , 1, 0, b'243847',  27.    , b'', b'S'),
       (219, 1, 1, b'female', 32.  , 0, 0, b'11813',  76.2917, b'D15', b'C'),
       (220, 0, 2, b'male', 30.  , 0, 0, b'W/C 14208',  10.5   , b'', b'S'),
       (221, 1, 3, b'male', 16.  , 0, 0, b'SOTON/OQ 392089',   8.05  , b'', b'S'),
       (222, 0, 2, b'male', 27.  , 0, 0, b'220367',  13.    , b'', b'S'),
       (223, 0, 3, b'male', 51.  , 0, 0, b'21440',   8.05  , b'', b'S'),
       (224, 0, 3, b'male',   nan, 0, 0, b'349234',   7.8958, b'', b'S'),
       (225, 1, 1, b'male', 38.  , 1, 0, b'19943',  90.    , b'C93', b'S'),
       (226, 0, 3, b'male', 22.  , 0, 0, b'PP 4348',   9.35  , b'', b'S'),
       (227, 1, 2, b'male', 19.  , 0, 0, b'SW/PP 751',  10.5   , b'', b'S'),
       (228, 0, 3, b'male', 20.5 , 0, 0, b'A/5 21173',   7.25  , b'', b'S'),
       (229, 0, 2, b'male', 18.  , 0, 0, b'236171',  13.    , b'', b'S'),
       (230, 0, 3, b'female',   nan, 3, 1, b'4133',  25.4667, b'', b'S'),
       (231, 1, 1, b'female', 35.  , 1, 0, b'36973',  83.475 , b'C83', b'S'),
       (232, 0, 3, b'male', 29.  , 0, 0, b'347067',   7.775 , b'', b'S'),
       (233, 0, 2, b'male', 59.  , 0, 0, b'237442',  13.5   , b'', b'S'),
       (234, 1, 3, b'female',  5.  , 4, 2, b'347077',  31.3875, b'', b'S'),
       (235, 0, 2, b'male', 24.  , 0, 0, b'C.A. 29566',  10.5   , b'', b'S'),
       (236, 0, 3, b'female',   nan, 0, 0, b'W./C. 6609',   7.55  , b'', b'S'),
       (237, 0, 2, b'male', 44.  , 1, 0, b'26707',  26.    , b'', b'S'),
       (238, 1, 2, b'female',  8.  , 0, 2, b'C.A. 31921',  26.25  , b'', b'S'),
       (239, 0, 2, b'male', 19.  , 0, 0, b'28665',  10.5   , b'', b'S'),
       (240, 0, 2, b'male', 33.  , 0, 0, b'SCO/W 1585',  12.275 , b'', b'S'),
       (241, 0, 3, b'female',   nan, 1, 0, b'2665',  14.4542, b'', b'C'),
       (242, 1, 3, b'female',   nan, 1, 0, b'367230',  15.5   , b'', b'Q'),
       (243, 0, 2, b'male', 29.  , 0, 0, b'W./C. 14263',  10.5   , b'', b'S'),
       (244, 0, 3, b'male', 22.  , 0, 0, b'STON/O 2. 3101275',   7.125 , b'', b'S'),
       (245, 0, 3, b'male', 30.  , 0, 0, b'2694',   7.225 , b'', b'C'),
       (246, 0, 1, b'male', 44.  , 2, 0, b'19928',  90.    , b'C78', b'Q'),
       (247, 0, 3, b'female', 25.  , 0, 0, b'347071',   7.775 , b'', b'S'),
       (248, 1, 2, b'female', 24.  , 0, 2, b'250649',  14.5   , b'', b'S'),
       (249, 1, 1, b'male', 37.  , 1, 1, b'11751',  52.5542, b'D35', b'S'),
       (250, 0, 2, b'male', 54.  , 1, 0, b'244252',  26.    , b'', b'S'),
       (251, 0, 3, b'male',   nan, 0, 0, b'362316',   7.25  , b'', b'S'),
       (252, 0, 3, b'female', 29.  , 1, 1, b'347054',  10.4625, b'G6', b'S'),
       (253, 0, 1, b'male', 62.  , 0, 0, b'113514',  26.55  , b'C87', b'S'),
       (254, 0, 3, b'male', 30.  , 1, 0, b'A/5. 3336',  16.1   , b'', b'S'),
       (255, 0, 3, b'female', 41.  , 0, 2, b'370129',  20.2125, b'', b'S'),
       (256, 1, 3, b'female', 29.  , 0, 2, b'2650',  15.2458, b'', b'C'),
       (257, 1, 1, b'female',   nan, 0, 0, b'PC 17585',  79.2   , b'', b'C'),
       (258, 1, 1, b'female', 30.  , 0, 0, b'110152',  86.5   , b'B77', b'S'),
       (259, 1, 1, b'female', 35.  , 0, 0, b'PC 17755', 512.3292, b'', b'C'),
       (260, 1, 2, b'female', 50.  , 0, 1, b'230433',  26.    , b'', b'S'),
       (261, 0, 3, b'male',   nan, 0, 0, b'384461',   7.75  , b'', b'Q'),

In [59]:
np.shape(data2)

(891,)

In [62]:
#importing flat file using genfromtxt() function
#selecting a row
data2[10] #selecting the 10th row

(11, 1, 3, b'female', 4., 1, 1, b'PP 9549', 16.7, b'G6', b'S')

In [63]:
#importing flat file using genfromtxt() function
#selecting a column

data2['Fare']

array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
        51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
         8.05  ,  31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,
        18.    ,   7.225 ,  26.    ,  13.    ,   8.0292,  35.5   ,
        21.075 ,  31.3875,   7.225 , 263.    ,   7.8792,   7.8958,
        27.7208, 146.5208,   7.75  ,  10.5   ,  82.1708,  52.    ,
         7.2292,   8.05  ,  18.    ,  11.2417,   9.475 ,  21.    ,
         7.8958,  41.5792,   7.8792,   8.05  ,  15.5   ,   7.75  ,
        21.6792,  17.8   ,  39.6875,   7.8   ,  76.7292,  26.    ,
        61.9792,  35.5   ,  10.5   ,   7.2292,  27.75  ,  46.9   ,
         7.2292,  80.    ,  83.475 ,  27.9   ,  27.7208,  15.2458,
        10.5   ,   8.1583,   7.925 ,   8.6625,  10.5   ,  46.9   ,
        73.5   ,  14.4542,  56.4958,   7.65  ,   7.8958,   8.05  ,
        29.    ,  12.475 ,   9.    ,   9.5   ,   7.7875,  47.1   ,
        10.5   ,  15.85  ,  34.375 ,   8.05  , 263.    ,   8.05  ,
         8.05  ,   7.8542,  61.175 ,  20.575 ,   7.25  ,   8.05  ,
        34.6542,  63.3583,  23.    ,  26.    ,   7.8958,   7.8958,
        77.2875,   8.6542,   7.925 ,   7.8958,   7.65  ,   7.775 ,
         7.8958,  24.15  ,  52.    ,  14.4542,   8.05  ,   9.825 ,
        14.4583,   7.925 ,   7.75  ,  21.    , 247.5208,  31.275 ,
        73.5   ,   8.05  ,  30.0708,  13.    ,  77.2875,  11.2417,
         7.75  ,   7.1417,  22.3583,   6.975 ,   7.8958,   7.05  ,
        14.5   ,  26.    ,  13.    ,  15.0458,  26.2833,  53.1   ,
         9.2167,  79.2   ,  15.2458,   7.75  ,  15.85  ,   6.75  ,
        11.5   ,  36.75  ,   7.7958,  34.375 ,  26.    ,  13.    ,
        12.525 ,  66.6   ,   8.05  ,  14.5   ,   7.3125,  61.3792,
         7.7333,   8.05  ,   8.6625,  69.55  ,  16.1   ,  15.75  ,
         7.775 ,   8.6625,  39.6875,  20.525 ,  55.    ,  27.9   ,
        25.925 ,  56.4958,  33.5   ,  29.125 ,  11.1333,   7.925 ,
        30.6958,   7.8542,  25.4667,  28.7125,  13.    ,   0.    ,
        69.55  ,  15.05  ,  31.3875,  39.    ,  22.025 ,  50.    ,
        15.5   ,  26.55  ,  15.5   ,   7.8958,  13.    ,  13.    ,
         7.8542,  26.    ,  27.7208, 146.5208,   7.75  ,   8.4042,
         7.75  ,  13.    ,   9.5   ,  69.55  ,   6.4958,   7.225 ,
         8.05  ,  10.4625,  15.85  ,  18.7875,   7.75  ,  31.    ,
         7.05  ,  21.    ,   7.25  ,  13.    ,   7.75  , 113.275 ,
         7.925 ,  27.    ,  76.2917,  10.5   ,   8.05  ,  13.    ,
         8.05  ,   7.8958,  90.    ,   9.35  ,  10.5   ,   7.25  ,
        13.    ,  25.4667,  83.475 ,   7.775 ,  13.5   ,  31.3875,
        10.5   ,   7.55  ,  26.    ,  26.25  ,  10.5   ,  12.275 ,
        14.4542,  15.5   ,  10.5   ,   7.125 ,   7.225 ,  90.    ,
         7.775 ,  14.5   ,  52.5542,  26.    ,   7.25  ,  10.4625,
        26.55  ,  16.1   ,  20.2125,  15.2458,  79.2   ,  86.5   ,
       512.3292,  26.    ,   7.75  ,  31.3875,  79.65  ,   0.    ,
         7.75  ,  10.5   ,  39.6875,   7.775 , 153.4625, 135.6333,
        31.    ,   0.    ,  19.5   ,  29.7   ,   7.75  ,  77.9583,
         7.75  ,   0.    ,  29.125 ,  20.25  ,   7.75  ,   7.8542,
         9.5   ,   8.05  ,  26.    ,   8.6625,   9.5   ,   7.8958,
        13.    ,   7.75  ,  78.85  ,  91.0792,  12.875 ,   8.85  ,
         7.8958,  27.7208,   7.2292, 151.55  ,  30.5   , 247.5208,
         7.75  ,  23.25  ,   0.    ,  12.35  ,   8.05  , 151.55  ,
       110.8833, 108.9   ,  24.    ,  56.9292,  83.1583, 262.375 ,
        26.    ,   7.8958,  26.25  ,   7.8542,  26.    ,  14.    ,
       164.8667, 134.5   ,   7.25  ,   7.8958,  12.35  ,  29.    ,
        69.55  , 135.6333,   6.2375,  13.    ,  20.525 ,  57.9792,
        23.25  ,  28.5   , 153.4625,  18.    , 133.65  ,   7.8958,
        66.6   , 134.5   ,   8.05  ,  35.5   ,  26.    , 263.    ,
        13.    ,  13.    ,  13.    ,  13.    ,  13.    ,  16.1   ,
        15.9   ,   8.6625,   9.225 ,  35.    ,   7.2292,  17.8   ,
         7.225 ,   9.5   ,  55.    ,  13.    ,   7.8792,   7.8792,
        27.9   ,  27.7208,  14.4542,   7.05  ,  15.5   ,   7.25  ,
        75.25  ,   7.2292,   7.75  ,  69.3   ,  55.4417,   6.4958,
         8.05  , 135.6333,  21.075 ,  82.1708,   7.25  , 211.5   ,
         4.0125,   7.775 , 227.525 ,  15.7417,   7.925 ,  52.    ,
         7.8958,  73.5   ,  46.9   ,  13.    ,   7.7292,  12.    ,
       120.    ,   7.7958,   7.925 , 113.275 ,  16.7   ,   7.7958,
         7.8542,  26.    ,  10.5   ,  12.65  ,   7.925 ,   8.05  ,
         9.825 ,  15.85  ,   8.6625,  21.    ,   7.75  ,  18.75  ,
         7.775 ,  25.4667,   7.8958,   6.8583,  90.    ,   0.    ,
         7.925 ,   8.05  ,  32.5   ,  13.    ,  13.    ,  24.15  ,
         7.8958,   7.7333,   7.875 ,  14.4   ,  20.2125,   7.25  ,
        26.    ,  26.    ,   7.75  ,   8.05  ,  26.55  ,  16.1   ,
        26.    ,   7.125 ,  55.9   , 120.    ,  34.375 ,  18.75  ,
       263.    ,  10.5   ,  26.25  ,   9.5   ,   7.775 ,  13.    ,
         8.1125,  81.8583,  19.5   ,  26.55  ,  19.2583,  30.5   ,
        27.75  ,  19.9667,  27.75  ,  89.1042,   8.05  ,   7.8958,
        26.55  ,  51.8625,  10.5   ,   7.75  ,  26.55  ,   8.05  ,
        38.5   ,  13.    ,   8.05  ,   7.05  ,   0.    ,  26.55  ,
         7.725 ,  19.2583,   7.25  ,   8.6625,  27.75  ,  13.7917,
         9.8375,  52.    ,  21.    ,   7.0458,   7.5208,  12.2875,
        46.9   ,   0.    ,   8.05  ,   9.5875,  91.0792,  25.4667,
        90.    ,  29.7   ,   8.05  ,  15.9   ,  19.9667,   7.25  ,
        30.5   ,  49.5042,   8.05  ,  14.4583,  78.2667,  15.1   ,
       151.55  ,   7.7958,   8.6625,   7.75  ,   7.6292,   9.5875,
        86.5   , 108.9   ,  26.    ,  26.55  ,  22.525 ,  56.4958,
         7.75  ,   8.05  ,  26.2875,  59.4   ,   7.4958,  34.0208,
        10.5   ,  24.15  ,  26.    ,   7.8958,  93.5   ,   7.8958,
         7.225 ,  57.9792,   7.2292,   7.75  ,  10.5   , 221.7792,
         7.925 ,  11.5   ,  26.    ,   7.2292,   7.2292,  22.3583,
         8.6625,  26.25  ,  26.55  , 106.425 ,  14.5   ,  49.5   ,
        71.    ,  31.275 ,  31.275 ,  26.    , 106.425 ,  26.    ,
        26.    ,  13.8625,  20.525 ,  36.75  , 110.8833,  26.    ,
         7.8292,   7.225 ,   7.775 ,  26.55  ,  39.6   , 227.525 ,
        79.65  ,  17.4   ,   7.75  ,   7.8958,  13.5   ,   8.05  ,
         8.05  ,  24.15  ,   7.8958,  21.075 ,   7.2292,   7.8542,
        10.5   ,  51.4792,  26.3875,   7.75  ,   8.05  ,  14.5   ,
        13.    ,  55.9   ,  14.4583,   7.925 ,  30.    , 110.8833,
        26.    ,  40.125 ,   8.7125,  79.65  ,  15.    ,  79.2   ,
         8.05  ,   8.05  ,   7.125 ,  78.2667,   7.25  ,   7.75  ,
        26.    ,  24.15  ,  33.    ,   0.    ,   7.225 ,  56.9292,
        27.    ,   7.8958,  42.4   ,   8.05  ,  26.55  ,  15.55  ,
         7.8958,  30.5   ,  41.5792, 153.4625,  31.275 ,   7.05  ,
        15.5   ,   7.75  ,   8.05  ,  65.    ,  14.4   ,  16.1   ,
        39.    ,  10.5   ,  14.4542,  52.5542,  15.7417,   7.8542,
        16.1   ,  32.3208,  12.35  ,  77.9583,   7.8958,   7.7333,
        30.    ,   7.0542,  30.5   ,   0.    ,  27.9   ,  13.    ,
         7.925 ,  26.25  ,  39.6875,  16.1   ,   7.8542,  69.3   ,
        27.9   ,  56.4958,  19.2583,  76.7292,   7.8958,  35.5   ,
         7.55  ,   7.55  ,   7.8958,  23.    ,   8.4333,   7.8292,
         6.75  ,  73.5   ,   7.8958,  15.5   ,  13.    , 113.275 ,
       133.65  ,   7.225 ,  25.5875,   7.4958,   7.925 ,  73.5   ,
        13.    ,   7.775 ,   8.05  ,  52.    ,  39.    ,  52.    ,
        10.5   ,  13.    ,   0.    ,   7.775 ,   8.05  ,   9.8417,
        46.9   , 512.3292,   8.1375,  76.7292,   9.225 ,  46.9   ,
        39.    ,  41.5792,  39.6875,  10.1708,   7.7958, 211.3375,
        57.    ,  13.4167,  56.4958,   7.225 ,  26.55  ,  13.5   ,
         8.05  ,   7.7333, 110.8833,   7.65  , 227.525 ,  26.2875,
        14.4542,   7.7417,   7.8542,  26.    ,  13.5   ,  26.2875,
       151.55  ,  15.2458,  49.5042,  26.55  ,  52.    ,   9.4833,
        13.    ,   7.65  , 227.525 ,  10.5   ,  15.5   ,   7.775 ,
        33.    ,   7.0542,  13.    ,  13.    ,  53.1   ,   8.6625,
        21.    ,   7.7375,  26.    ,   7.925 , 211.3375,  18.7875,
         0.    ,  13.    ,  13.    ,  16.1   ,  34.375 , 512.3292,
         7.8958,   7.8958,  30.    ,  78.85  , 262.375 ,  16.1   ,
         7.925 ,  71.    ,  20.25  ,  13.    ,  53.1   ,   7.75  ,
        23.    ,  12.475 ,   9.5   ,   7.8958,  65.    ,  14.5   ,
         7.7958,  11.5   ,   8.05  ,  86.5   ,  14.5   ,   7.125 ,
         7.2292, 120.    ,   7.775 ,  77.9583,  39.6   ,   7.75  ,
        24.15  ,   8.3625,   9.5   ,   7.8542,  10.5   ,   7.225 ,
        23.    ,   7.75  ,   7.75  ,  12.475 ,   7.7375, 211.3375,
         7.2292,  57.    ,  30.    ,  23.45  ,   7.05  ,   7.25  ,
         7.4958,  29.125 ,  20.575 ,  79.2   ,   7.75  ,  26.    ,
        69.55  ,  30.6958,   7.8958,  13.    ,  25.9292,   8.6833,
         7.2292,  24.15  ,  13.    ,  26.25  , 120.    ,   8.5167,
         6.975 ,   7.775 ,   0.    ,   7.775 ,  13.    ,  53.1   ,
         7.8875,  24.15  ,  10.5   ,  31.275 ,   8.05  ,   0.    ,
         7.925 ,  37.0042,   6.45  ,  27.9   ,  93.5   ,   8.6625,
         0.    ,  12.475 ,  39.6875,   6.95  ,  56.4958,  37.0042,
         7.75  ,  80.    ,  14.4542,  18.75  ,   7.2292,   7.8542,
         8.3   ,  83.1583,   8.6625,   8.05  ,  56.4958,  29.7   ,
         7.925 ,  10.5   ,  31.    ,   6.4375,   8.6625,   7.55  ,
        69.55  ,   7.8958,  33.    ,  89.1042,  31.275 ,   7.775 ,
        15.2458,  39.4   ,  26.    ,   9.35  , 164.8667,  26.55  ,
        19.2583,   7.2292,  14.1083,  11.5   ,  25.9292,  69.55  ,
        13.    ,  13.    ,  13.8583,  50.4958,   9.5   ,  11.1333,
         7.8958,  52.5542,   5.    ,   9.    ,  24.    ,   7.225 ,
         9.8458,   7.8958,   7.8958,  83.1583,  26.    ,   7.8958,
        10.5167,  10.5   ,   7.05  ,  29.125 ,  13.    ,  30.    ,
        23.45  ,  30.    ,   7.75  ])

In [68]:
#importing flat file using genfromtxt() function
file = 'titanic_sub.csv.txt'
data3 = np.recfromcsv(file)
data3

#You'll only need to pass filename to it because it has the defaults delimiter=',' and names=True in addition to dtype=None

rec.array([(  1, 0, 3, b'male', 22.  , 1, 0, b'A/5 21171',   7.25  , b'', b'S'),
           (  2, 1, 1, b'female', 38.  , 1, 0, b'PC 17599',  71.2833, b'C85', b'C'),
           (  3, 1, 3, b'female', 26.  , 0, 0, b'STON/O2. 3101282',   7.925 , b'', b'S'),
           (  4, 1, 1, b'female', 35.  , 1, 0, b'113803',  53.1   , b'C123', b'S'),
           (  5, 0, 3, b'male', 35.  , 0, 0, b'373450',   8.05  , b'', b'S'),
           (  6, 0, 3, b'male',   nan, 0, 0, b'330877',   8.4583, b'', b'Q'),
           (  7, 0, 1, b'male', 54.  , 0, 0, b'17463',  51.8625, b'E46', b'S'),
           (  8, 0, 3, b'male',  2.  , 3, 1, b'349909',  21.075 , b'', b'S'),
           (  9, 1, 3, b'female', 27.  , 0, 2, b'347742',  11.1333, b'', b'S'),
           ( 10, 1, 2, b'female', 14.  , 1, 0, b'237736',  30.0708, b'', b'C'),
           ( 11, 1, 3, b'female',  4.  , 1, 1, b'PP 9549',  16.7   , b'G6', b'S'),
           ( 12, 1, 1, b'female', 58.  , 0, 0, b'113783',  26.55  , b'C103', b'S'),
           ( 13, 0, 3, b'male', 20.  , 0, 0, b'A/5. 2151',   8.05  , b'', b'S'),
           ( 14, 0, 3, b'male', 39.  , 1, 5, b'347082',  31.275 , b'', b'S'),
           ( 15, 0, 3, b'female', 14.  , 0, 0, b'350406',   7.8542, b'', b'S'),
           ( 16, 1, 2, b'female', 55.  , 0, 0, b'248706',  16.    , b'', b'S'),
           ( 17, 0, 3, b'male',  2.  , 4, 1, b'382652',  29.125 , b'', b'Q'),
           ( 18, 1, 2, b'male',   nan, 0, 0, b'244373',  13.    , b'', b'S'),
           ( 19, 0, 3, b'female', 31.  , 1, 0, b'345763',  18.    , b'', b'S'),
           ( 20, 1, 3, b'female',   nan, 0, 0, b'2649',   7.225 , b'', b'C'),
           ( 21, 0, 2, b'male', 35.  , 0, 0, b'239865',  26.    , b'', b'S'),
           ( 22, 1, 2, b'male', 34.  , 0, 0, b'248698',  13.    , b'D56', b'S'),
           ( 23, 1, 3, b'female', 15.  , 0, 0, b'330923',   8.0292, b'', b'Q'),
           ( 24, 1, 1, b'male', 28.  , 0, 0, b'113788',  35.5   , b'A6', b'S'),
           ( 25, 0, 3, b'female',  8.  , 3, 1, b'349909',  21.075 , b'', b'S'),
           ( 26, 1, 3, b'female', 38.  , 1, 5, b'347077',  31.3875, b'', b'S'),
           ( 27, 0, 3, b'male',   nan, 0, 0, b'2631',   7.225 , b'', b'C'),
           ( 28, 0, 1, b'male', 19.  , 3, 2, b'19950', 263.    , b'C23 C25 C27', b'S'),
           ( 29, 1, 3, b'female',   nan, 0, 0, b'330959',   7.8792, b'', b'Q'),
           ( 30, 0, 3, b'male',   nan, 0, 0, b'349216',   7.8958, b'', b'S'),
           ( 31, 0, 1, b'male', 40.  , 0, 0, b'PC 17601',  27.7208, b'', b'C'),
           ( 32, 1, 1, b'female',   nan, 1, 0, b'PC 17569', 146.5208, b'B78', b'C'),
           ( 33, 1, 3, b'female',   nan, 0, 0, b'335677',   7.75  , b'', b'Q'),
           ( 34, 0, 2, b'male', 66.  , 0, 0, b'C.A. 24579',  10.5   , b'', b'S'),
           ( 35, 0, 1, b'male', 28.  , 1, 0, b'PC 17604',  82.1708, b'', b'C'),
           ( 36, 0, 1, b'male', 42.  , 1, 0, b'113789',  52.    , b'', b'S'),
           ( 37, 1, 3, b'male',   nan, 0, 0, b'2677',   7.2292, b'', b'C'),
           ( 38, 0, 3, b'male', 21.  , 0, 0, b'A./5. 2152',   8.05  , b'', b'S'),
           ( 39, 0, 3, b'female', 18.  , 2, 0, b'345764',  18.    , b'', b'S'),
           ( 40, 1, 3, b'female', 14.  , 1, 0, b'2651',  11.2417, b'', b'C'),
           ( 41, 0, 3, b'female', 40.  , 1, 0, b'7546',   9.475 , b'', b'S'),
           ( 42, 0, 2, b'female', 27.  , 1, 0, b'11668',  21.    , b'', b'S'),
           ( 43, 0, 3, b'male',   nan, 0, 0, b'349253',   7.8958, b'', b'C'),
           ( 44, 1, 2, b'female',  3.  , 1, 2, b'SC/Paris 2123',  41.5792, b'', b'C'),
           ( 45, 1, 3, b'female', 19.  , 0, 0, b'330958',   7.8792, b'', b'Q'),
           ( 46, 0, 3, b'male',   nan, 0, 0, b'S.C./A.4. 23567',   8.05  , b'', b'S'),
           ( 47, 0, 3, b'male',   nan, 1, 0, b'370371',  15.5   , b'', b'Q'),
           ( 48, 1, 3, b'female',   nan, 0, 0, b'14311',   7.75  , b'', b'Q'),
           ( 49, 0, 3, b'male',   nan, 2, 0, b'2662',  21.6792, b'', b'C'),
           ( 50, 0, 3, b'female', 18.  , 1, 0, b'349237',  17.8   , b'', b'S'),
           ( 51, 0, 3, b'male',  7.  , 4, 1, b'3101295',  39.6875, b'', b'S'),
           ( 52, 0, 3, b'male', 21.  , 0, 0, b'A/4. 39886',   7.8   , b'', b'S'),
           ( 53, 1, 1, b'female', 49.  , 1, 0, b'PC 17572',  76.7292, b'D33', b'C'),
           ( 54, 1, 2, b'female', 29.  , 1, 0, b'2926',  26.    , b'', b'S'),
           ( 55, 0, 1, b'male', 65.  , 0, 1, b'113509',  61.9792, b'B30', b'C'),
           ( 56, 1, 1, b'male',   nan, 0, 0, b'19947',  35.5   , b'C52', b'S'),
           ( 57, 1, 2, b'female', 21.  , 0, 0, b'C.A. 31026',  10.5   , b'', b'S'),
           ( 58, 0, 3, b'male', 28.5 , 0, 0, b'2697',   7.2292, b'', b'C'),
           ( 59, 1, 2, b'female',  5.  , 1, 2, b'C.A. 34651',  27.75  , b'', b'S'),
           ( 60, 0, 3, b'male', 11.  , 5, 2, b'CA 2144',  46.9   , b'', b'S'),
           ( 61, 0, 3, b'male', 22.  , 0, 0, b'2669',   7.2292, b'', b'C'),
           ( 62, 1, 1, b'female', 38.  , 0, 0, b'113572',  80.    , b'B28', b''),
           ( 63, 0, 1, b'male', 45.  , 1, 0, b'36973',  83.475 , b'C83', b'S'),
           ( 64, 0, 3, b'male',  4.  , 3, 2, b'347088',  27.9   , b'', b'S'),
           ( 65, 0, 1, b'male',   nan, 0, 0, b'PC 17605',  27.7208, b'', b'C'),
           ( 66, 1, 3, b'male',   nan, 1, 1, b'2661',  15.2458, b'', b'C'),
           ( 67, 1, 2, b'female', 29.  , 0, 0, b'C.A. 29395',  10.5   , b'F33', b'S'),
           ( 68, 0, 3, b'male', 19.  , 0, 0, b'S.P. 3464',   8.1583, b'', b'S'),
           ( 69, 1, 3, b'female', 17.  , 4, 2, b'3101281',   7.925 , b'', b'S'),
           ( 70, 0, 3, b'male', 26.  , 2, 0, b'315151',   8.6625, b'', b'S'),
           ( 71, 0, 2, b'male', 32.  , 0, 0, b'C.A. 33111',  10.5   , b'', b'S'),
           ( 72, 0, 3, b'female', 16.  , 5, 2, b'CA 2144',  46.9   , b'', b'S'),
           ( 73, 0, 2, b'male', 21.  , 0, 0, b'S.O.C. 14879',  73.5   , b'', b'S'),
           ( 74, 0, 3, b'male', 26.  , 1, 0, b'2680',  14.4542, b'', b'C'),
           ( 75, 1, 3, b'male', 32.  , 0, 0, b'1601',  56.4958, b'', b'S'),
           ( 76, 0, 3, b'male', 25.  , 0, 0, b'348123',   7.65  , b'F G73', b'S'),
           ( 77, 0, 3, b'male',   nan, 0, 0, b'349208',   7.8958, b'', b'S'),
           ( 78, 0, 3, b'male',   nan, 0, 0, b'374746',   8.05  , b'', b'S'),
           ( 79, 1, 2, b'male',  0.83, 0, 2, b'248738',  29.    , b'', b'S'),
           ( 80, 1, 3, b'female', 30.  , 0, 0, b'364516',  12.475 , b'', b'S'),
           ( 81, 0, 3, b'male', 22.  , 0, 0, b'345767',   9.    , b'', b'S'),
           ( 82, 1, 3, b'male', 29.  , 0, 0, b'345779',   9.5   , b'', b'S'),
           ( 83, 1, 3, b'female',   nan, 0, 0, b'330932',   7.7875, b'', b'Q'),
           ( 84, 0, 1, b'male', 28.  , 0, 0, b'113059',  47.1   , b'', b'S'),
           ( 85, 1, 2, b'female', 17.  , 0, 0, b'SO/C 14885',  10.5   , b'', b'S'),
           ( 86, 1, 3, b'female', 33.  , 3, 0, b'3101278',  15.85  , b'', b'S'),
           ( 87, 0, 3, b'male', 16.  , 1, 3, b'W./C. 6608',  34.375 , b'', b'S'),
           ( 88, 0, 3, b'male',   nan, 0, 0, b'SOTON/OQ 392086',   8.05  , b'', b'S'),
           ( 89, 1, 1, b'female', 23.  , 3, 2, b'19950', 263.    , b'C23 C25 C27', b'S'),
           ( 90, 0, 3, b'male', 24.  , 0, 0, b'343275',   8.05  , b'', b'S'),
           ( 91, 0, 3, b'male', 29.  , 0, 0, b'343276',   8.05  , b'', b'S'),
           ( 92, 0, 3, b'male', 20.  , 0, 0, b'347466',   7.8542, b'', b'S'),
           ( 93, 0, 1, b'male', 46.  , 1, 0, b'W.E.P. 5734',  61.175 , b'E31', b'S'),
           ( 94, 0, 3, b'male', 26.  , 1, 2, b'C.A. 2315',  20.575 , b'', b'S'),
           ( 95, 0, 3, b'male', 59.  , 0, 0, b'364500',   7.25  , b'', b'S'),
           ( 96, 0, 3, b'male',   nan, 0, 0, b'374910',   8.05  , b'', b'S'),
           ( 97, 0, 1, b'male', 71.  , 0, 0, b'PC 17754',  34.6542, b'A5', b'C'),
           ( 98, 1, 1, b'male', 23.  , 0, 1, b'PC 17759',  63.3583, b'D10 D12', b'C'),
           ( 99, 1, 2, b'female', 34.  , 0, 1, b'231919',  23.    , b'', b'S'),
           (100, 0, 2, b'male', 34.  , 1, 0, b'244367',  26.    , b'', b'S'),
           (101, 0, 3, b'female', 28.  , 0, 0, b'349245',   7.8958, b'', b'S'),
           (102, 0, 3, b'male',   nan, 0, 0, b'349215',   7.8958, b'', b'S'),
           (103, 0, 1, b'male', 21.  , 0, 1, b'35281',  77.2875, b'D26', b'S'),
           (104, 0, 3, b'male', 33.  , 0, 0, b'7540',   8.6542, b'', b'S'),
           (105, 0, 3, b'male', 37.  , 2, 0, b'3101276',   7.925 , b'', b'S'),
           (106, 0, 3, b'male', 28.  , 0, 0, b'349207',   7.8958, b'', b'S'),
           (107, 1, 3, b'female', 21.  , 0, 0, b'343120',   7.65  , b'', b'S'),
           (108, 1, 3, b'male',   nan, 0, 0, b'312991',   7.775 , b'', b'S'),
           (109, 0, 3, b'male', 38.  , 0, 0, b'349249',   7.8958, b'', b'S'),
           (110, 1, 3, b'female',   nan, 1, 0, b'371110',  24.15  , b'', b'Q'),
           (111, 0, 1, b'male', 47.  , 0, 0, b'110465',  52.    , b'C110', b'S'),
           (112, 0, 3, b'female', 14.5 , 1, 0, b'2665',  14.4542, b'', b'C'),
           (113, 0, 3, b'male', 22.  , 0, 0, b'324669',   8.05  , b'', b'S'),
           (114, 0, 3, b'female', 20.  , 1, 0, b'4136',   9.825 , b'', b'S'),
           (115, 0, 3, b'female', 17.  , 0, 0, b'2627',  14.4583, b'', b'C'),
           (116, 0, 3, b'male', 21.  , 0, 0, b'STON/O 2. 3101294',   7.925 , b'', b'S'),
           (117, 0, 3, b'male', 70.5 , 0, 0, b'370369',   7.75  , b'', b'Q'),
           (118, 0, 2, b'male', 29.  , 1, 0, b'11668',  21.    , b'', b'S'),
           (119, 0, 1, b'male', 24.  , 0, 1, b'PC 17558', 247.5208, b'B58 B60', b'C'),
           (120, 0, 3, b'female',  2.  , 4, 2, b'347082',  31.275 , b'', b'S'),
           (121, 0, 2, b'male', 21.  , 2, 0, b'S.O.C. 14879',  73.5   , b'', b'S'),
           (122, 0, 3, b'male',   nan, 0, 0, b'A4. 54510',   8.05  , b'', b'S'),
           (123, 0, 2, b'male', 32.5 , 1, 0, b'237736',  30.0708, b'', b'C'),
           (124, 1, 2, b'female', 32.5 , 0, 0, b'27267',  13.    , b'E101', b'S'),
           (125, 0, 1, b'male', 54.  , 0, 1, b'35281',  77.2875, b'D26', b'S'),
           (126, 1, 3, b'male', 12.  , 1, 0, b'2651',  11.2417, b'', b'C'),
           (127, 0, 3, b'male',   nan, 0, 0, b'370372',   7.75  , b'', b'Q'),
           (128, 1, 3, b'male', 24.  , 0, 0, b'C 17369',   7.1417, b'', b'S'),
           (129, 1, 3, b'female',   nan, 1, 1, b'2668',  22.3583, b'F E69', b'C'),
           (130, 0, 3, b'male', 45.  , 0, 0, b'347061',   6.975 , b'', b'S'),
           (131, 0, 3, b'male', 33.  , 0, 0, b'349241',   7.8958, b'', b'C'),
           (132, 0, 3, b'male', 20.  , 0, 0, b'SOTON/O.Q. 3101307',   7.05  , b'', b'S'),
           (133, 0, 3, b'female', 47.  , 1, 0, b'A/5. 3337',  14.5   , b'', b'S'),
           (134, 1, 2, b'female', 29.  , 1, 0, b'228414',  26.    , b'', b'S'),
           (135, 0, 2, b'male', 25.  , 0, 0, b'C.A. 29178',  13.    , b'', b'S'),
           (136, 0, 2, b'male', 23.  , 0, 0, b'SC/PARIS 2133',  15.0458, b'', b'C'),
           (137, 1, 1, b'female', 19.  , 0, 2, b'11752',  26.2833, b'D47', b'S'),
           (138, 0, 1, b'male', 37.  , 1, 0, b'113803',  53.1   , b'C123', b'S'),
           (139, 0, 3, b'male', 16.  , 0, 0, b'7534',   9.2167, b'', b'S'),
           (140, 0, 1, b'male', 24.  , 0, 0, b'PC 17593',  79.2   , b'B86', b'C'),
           (141, 0, 3, b'female',   nan, 0, 2, b'2678',  15.2458, b'', b'C'),
           (142, 1, 3, b'female', 22.  , 0, 0, b'347081',   7.75  , b'', b'S'),
           (143, 1, 3, b'female', 24.  , 1, 0, b'STON/O2. 3101279',  15.85  , b'', b'S'),
           (144, 0, 3, b'male', 19.  , 0, 0, b'365222',   6.75  , b'', b'Q'),
           (145, 0, 2, b'male', 18.  , 0, 0, b'231945',  11.5   , b'', b'S'),
           (146, 0, 2, b'male', 19.  , 1, 1, b'C.A. 33112',  36.75  , b'', b'S'),
           (147, 1, 3, b'male', 27.  , 0, 0, b'350043',   7.7958, b'', b'S'),
           (148, 0, 3, b'female',  9.  , 2, 2, b'W./C. 6608',  34.375 , b'', b'S'),
           (149, 0, 2, b'male', 36.5 , 0, 2, b'230080',  26.    , b'F2', b'S'),
           (150, 0, 2, b'male', 42.  , 0, 0, b'244310',  13.    , b'', b'S'),
           (151, 0, 2, b'male', 51.  , 0, 0, b'S.O.P. 1166',  12.525 , b'', b'S'),
           (152, 1, 1, b'female', 22.  , 1, 0, b'113776',  66.6   , b'C2', b'S'),
           (153, 0, 3, b'male', 55.5 , 0, 0, b'A.5. 11206',   8.05  , b'', b'S'),
           (154, 0, 3, b'male', 40.5 , 0, 2, b'A/5. 851',  14.5   , b'', b'S'),
           (155, 0, 3, b'male',   nan, 0, 0, b'Fa 265302',   7.3125, b'', b'S'),
           (156, 0, 1, b'male', 51.  , 0, 1, b'PC 17597',  61.3792, b'', b'C'),
           (157, 1, 3, b'female', 16.  , 0, 0, b'35851',   7.7333, b'', b'Q'),
           (158, 0, 3, b'male', 30.  , 0, 0, b'SOTON/OQ 392090',   8.05  , b'', b'S'),
           (159, 0, 3, b'male',   nan, 0, 0, b'315037',   8.6625, b'', b'S'),
           (160, 0, 3, b'male',   nan, 8, 2, b'CA. 2343',  69.55  , b'', b'S'),
           (161, 0, 3, b'male', 44.  , 0, 1, b'371362',  16.1   , b'', b'S'),
           (162, 1, 2, b'female', 40.  , 0, 0, b'C.A. 33595',  15.75  , b'', b'S'),
           (163, 0, 3, b'male', 26.  , 0, 0, b'347068',   7.775 , b'', b'S'),
           (164, 0, 3, b'male', 17.  , 0, 0, b'315093',   8.6625, b'', b'S'),
           (165, 0, 3, b'male',  1.  , 4, 1, b'3101295',  39.6875, b'', b'S'),
           (166, 1, 3, b'male',  9.  , 0, 2, b'363291',  20.525 , b'', b'S'),
           (167, 1, 1, b'female',   nan, 0, 1, b'113505',  55.    , b'E33', b'S'),
           (168, 0, 3, b'female', 45.  , 1, 4, b'347088',  27.9   , b'', b'S'),
           (169, 0, 1, b'male',   nan, 0, 0, b'PC 17318',  25.925 , b'', b'S'),
           (170, 0, 3, b'male', 28.  , 0, 0, b'1601',  56.4958, b'', b'S'),
           (171, 0, 1, b'male', 61.  , 0, 0, b'111240',  33.5   , b'B19', b'S'),
           (172, 0, 3, b'male',  4.  , 4, 1, b'382652',  29.125 , b'', b'Q'),
           (173, 1, 3, b'female',  1.  , 1, 1, b'347742',  11.1333, b'', b'S'),
           (174, 0, 3, b'male', 21.  , 0, 0, b'STON/O 2. 3101280',   7.925 , b'', b'S'),
           (175, 0, 1, b'male', 56.  , 0, 0, b'17764',  30.6958, b'A7', b'C'),
           (176, 0, 3, b'male', 18.  , 1, 1, b'350404',   7.8542, b'', b'S'),
           (177, 0, 3, b'male',   nan, 3, 1, b'4133',  25.4667, b'', b'S'),
           (178, 0, 1, b'female', 50.  , 0, 0, b'PC 17595',  28.7125, b'C49', b'C'),
           (179, 0, 2, b'male', 30.  , 0, 0, b'250653',  13.    , b'', b'S'),
           (180, 0, 3, b'male', 36.  , 0, 0, b'LINE',   0.    , b'', b'S'),
           (181, 0, 3, b'female',   nan, 8, 2, b'CA. 2343',  69.55  , b'', b'S'),
           (182, 0, 2, b'male',   nan, 0, 0, b'SC/PARIS 2131',  15.05  , b'', b'C'),
           (183, 0, 3, b'male',  9.  , 4, 2, b'347077',  31.3875, b'', b'S'),
           (184, 1, 2, b'male',  1.  , 2, 1, b'230136',  39.    , b'F4', b'S'),
           (185, 1, 3, b'female',  4.  , 0, 2, b'315153',  22.025 , b'', b'S'),
           (186, 0, 1, b'male',   nan, 0, 0, b'113767',  50.    , b'A32', b'S'),
           (187, 1, 3, b'female',   nan, 1, 0, b'370365',  15.5   , b'', b'Q'),
           (188, 1, 1, b'male', 45.  , 0, 0, b'111428',  26.55  , b'', b'S'),
           (189, 0, 3, b'male', 40.  , 1, 1, b'364849',  15.5   , b'', b'Q'),
           (190, 0, 3, b'male', 36.  , 0, 0, b'349247',   7.8958, b'', b'S'),
           (191, 1, 2, b'female', 32.  , 0, 0, b'234604',  13.    , b'', b'S'),
           (192, 0, 2, b'male', 19.  , 0, 0, b'28424',  13.    , b'', b'S'),
           (193, 1, 3, b'female', 19.  , 1, 0, b'350046',   7.8542, b'', b'S'),
           (194, 1, 2, b'male',  3.  , 1, 1, b'230080',  26.    , b'F2', b'S'),
           (195, 1, 1, b'female', 44.  , 0, 0, b'PC 17610',  27.7208, b'B4', b'C'),
           (196, 1, 1, b'female', 58.  , 0, 0, b'PC 17569', 146.5208, b'B80', b'C'),
           (197, 0, 3, b'male',   nan, 0, 0, b'368703',   7.75  , b'', b'Q'),
           (198, 0, 3, b'male', 42.  , 0, 1, b'4579',   8.4042, b'', b'S'),
           (199, 1, 3, b'female',   nan, 0, 0, b'370370',   7.75  , b'', b'Q'),
           (200, 0, 2, b'female', 24.  , 0, 0, b'248747',  13.    , b'', b'S'),
           (201, 0, 3, b'male', 28.  , 0, 0, b'345770',   9.5   , b'', b'S'),
           (202, 0, 3, b'male',   nan, 8, 2, b'CA. 2343',  69.55  , b'', b'S'),
           (203, 0, 3, b'male', 34.  , 0, 0, b'3101264',   6.4958, b'', b'S'),
           (204, 0, 3, b'male', 45.5 , 0, 0, b'2628',   7.225 , b'', b'C'),
           (205, 1, 3, b'male', 18.  , 0, 0, b'A/5 3540',   8.05  , b'', b'S'),
           (206, 0, 3, b'female',  2.  , 0, 1, b'347054',  10.4625, b'G6', b'S'),
           (207, 0, 3, b'male', 32.  , 1, 0, b'3101278',  15.85  , b'', b'S'),
           (208, 1, 3, b'male', 26.  , 0, 0, b'2699',  18.7875, b'', b'C'),
           (209, 1, 3, b'female', 16.  , 0, 0, b'367231',   7.75  , b'', b'Q'),
           (210, 1, 1, b'male', 40.  , 0, 0, b'112277',  31.    , b'A31', b'C'),
           (211, 0, 3, b'male', 24.  , 0, 0, b'SOTON/O.Q. 3101311',   7.05  , b'', b'S'),
           (212, 1, 2, b'female', 35.  , 0, 0, b'F.C.C. 13528',  21.    , b'', b'S'),
           (213, 0, 3, b'male', 22.  , 0, 0, b'A/5 21174',   7.25  , b'', b'S'),
           (214, 0, 2, b'male', 30.  , 0, 0, b'250646',  13.    , b'', b'S'),
           (215, 0, 3, b'male',   nan, 1, 0, b'367229',   7.75  , b'', b'Q'),
           (216, 1, 1, b'female', 31.  , 1, 0, b'35273', 113.275 , b'D36', b'C'),
           (217, 1, 3, b'female', 27.  , 0, 0, b'STON/O2. 3101283',   7.925 , b'', b'S'),
           (218, 0, 2, b'male', 42.  , 1, 0, b'243847',  27.    , b'', b'S'),
           (219, 1, 1, b'female', 32.  , 0, 0, b'11813',  76.2917, b'D15', b'C'),
           (220, 0, 2, b'male', 30.  , 0, 0, b'W/C 14208',  10.5   , b'', b'S'),
           (221, 1, 3, b'male', 16.  , 0, 0, b'SOTON/OQ 392089',   8.05  , b'', b'S'),
           (222, 0, 2, b'male', 27.  , 0, 0, b'220367',  13.    , b'', b'S'),
           (223, 0, 3, b'male', 51.  , 0, 0, b'21440',   8.05  , b'', b'S'),
           (224, 0, 3, b'male',   nan, 0, 0, b'349234',   7.8958, b'', b'S'),
           (225, 1, 1, b'male', 38.  , 1, 0, b'19943',  90.    , b'C93', b'S'),
           (226, 0, 3, b'male', 22.  , 0, 0, b'PP 4348',   9.35  , b'', b'S'),
           (227, 1, 2, b'male', 19.  , 0, 0, b'SW/PP 751',  10.5   , b'', b'S'),
           (228, 0, 3, b'male', 20.5 , 0, 0, b'A/5 21173',   7.25  , b'', b'S'),
           (229, 0, 2, b'male', 18.  , 0, 0, b'236171',  13.    , b'', b'S'),
           (230, 0, 3, b'female',   nan, 3, 1, b'4133',  25.4667, b'', b'S'),
           (231, 1, 1, b'female', 35.  , 1, 0, b'36973',  83.475 , b'C83', b'S'),
           (232, 0, 3, b'male', 29.  , 0, 0, b'347067',   7.775 , b'', b'S'),
           (233, 0, 2, b'male', 59.  , 0, 0, b'237442',  13.5   , b'', b'S'),
           (234, 1, 3, b'female',  5.  , 4, 2, b'347077',  31.3875, b'', b'S'),
           (235, 0, 2, b'male', 24.  , 0, 0, b'C.A. 29566',  10.5   , b'', b'S'),
           (236, 0, 3, b'female',   nan, 0, 0, b'W./C. 6609',   7.55  , b'', b'S'),
           (237, 0, 2, b'male', 44.  , 1, 0, b'26707',  26.    , b'', b'S'),
           (238, 1, 2, b'female',  8.  , 0, 2, b'C.A. 31921',  26.25  , b'', b'S'),
           (239, 0, 2, b'male', 19.  , 0, 0, b'28665',  10.5   , b'', b'S'),
           (240, 0, 2, b'male', 33.  , 0, 0, b'SCO/W 1585',  12.275 , b'', b'S'),
           (241, 0, 3, b'female',   nan, 1, 0, b'2665',  14.4542, b'', b'C'),
           (242, 1, 3, b'female',   nan, 1, 0, b'367230',  15.5   , b'', b'Q'),
           (243, 0, 2, b'male', 29.  , 0, 0, b'W./C. 14263',  10.5   , b'', b'S'),
           (244, 0, 3, b'male', 22.  , 0, 0, b'STON/O 2. 3101275',   7.125 , b'', b'S'),
           (245, 0, 3, b'male', 30.  , 0, 0, b'2694',   7.225 , b'', b'C'),
           (246, 0, 1, b'male', 44.  , 2, 0, b'19928',  90.    , b'C78', b'Q'),
           (247, 0, 3, b'female', 25.  , 0, 0, b'347071',   7.775 , b'', b'S'),
           (248, 1, 2, b'female', 24.  , 0, 2, b'250649',  14.5   , b'', b'S'),

# importing an Excel file

In [214]:
import pandas as pd
import numpy as np
battle_death = pd.ExcelFile('battledeath.xlsx')
battle_death.sheet_names #find out what the sheets are first before parsing arguments to show the data

#there are 2 sheets in the Excel file (2002 and 2004)

['2002', '2004']

In [278]:
#reading the first sheet (2002) using parse argument

df1 = battle_death.parse('2002') #sheet name as a string
df2 = battle_death.parse(0) #sheet index as a float
print(df1)
print(df2)

    War, age-adjusted mortality due to       2002
0                          Afghanistan  36.083990
1                              Albania   0.128908
2                              Algeria  18.314120
3                              Andorra   0.000000
4                               Angola  18.964560
..                                 ...        ...
187                          Venezuela   0.000000
188                            Vietnam   0.040222
189                        Yemen, Rep.   0.074510
190                             Zambia   0.044548
191                           Zimbabwe  33.796200

[192 rows x 2 columns]
    War, age-adjusted mortality due to       2002
0                          Afghanistan  36.083990
1                              Albania   0.128908
2                              Algeria  18.314120
3                              Andorra   0.000000
4                               Angola  18.964560
..                                 ...        ...
187                          Venezuela   0.000000
188                            Vietnam   0.040222
189                        Yemen, Rep.   0.074510
190                             Zambia   0.044548
191                           Zimbabwe  33.796200

[192 rows x 2 columns]

In [285]:
#reading the second sheet (2004) using parse argument
#we can either use the sheet name or index to read the sheet

df1 = battle_death.parse('2004') #sheet name as a string
df2 = battle_death.parse(1) #sheet index as a float
print(df1)
print(df2)

    War(country)      2004
0    Afghanistan  9.451028
1        Albania  0.130354
2        Algeria  3.407277
3        Andorra  0.000000
4         Angola  2.597931
..           ...       ...
187    Venezuela  0.000000
188      Vietnam  0.037507
189  Yemen, Rep.  3.602868
190       Zambia  0.041963
191     Zimbabwe  0.509568

[192 rows x 2 columns]
    War(country)      2004
0    Afghanistan  9.451028
1        Albania  0.130354
2        Algeria  3.407277
3        Andorra  0.000000
4         Angola  2.597931
..           ...       ...
187    Venezuela  0.000000
188      Vietnam  0.037507
189  Yemen, Rep.  3.602868
190       Zambia  0.041963
191     Zimbabwe  0.509568

[192 rows x 2 columns]

In [307]:
#skiprows argument is used to remove rows we do not want displayed
df1 = battle_death.parse('2002', skiprows=1)
print(df1)

             Afghanistan   36.08399
0                Albania   0.128908
1                Algeria  18.314120
2                Andorra   0.000000
3                 Angola  18.964560
4    Antigua and Barbuda   0.000000
..                   ...        ...
186            Venezuela   0.000000
187              Vietnam   0.040222
188          Yemen, Rep.   0.074510
189               Zambia   0.044548
190             Zimbabwe  33.796200

[191 rows x 2 columns]

In [302]:
#Customizing your spreadsheet import
#Here, you'll parse your spreadsheets and use additional arguments to skip rows, rename columns and select only particular columns.

# Parse the first sheet and rename the columns: df1
df1 = battle_death.parse(0, skiprows=0, names=['Country', 'AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = battle_death.parse(1, usecols=[0], skiprows=0, names=['Country'])

# Print the head of the DataFrame df2
print(df2.head())

       Country  AAM due to War (2002)
0  Afghanistan              36.083990
1      Albania               0.128908
2      Algeria              18.314120
3      Andorra               0.000000
4       Angola              18.964560
       Country
0  Afghanistan
1      Albania
2      Algeria
3      Andorra
4       Angola

In [62]:
#alternative to reading Excel file by sheet
battle_death1 = pd.read_excel('battledeath.xlsx', sheet_name=0)
battle_death1

    War, age-adjusted mortality due to       2002
0                          Afghanistan  36.083990
1                              Albania   0.128908
2                              Algeria  18.314120
3                              Andorra   0.000000
4                               Angola  18.964560
..                                 ...        ...
187                          Venezuela   0.000000
188                            Vietnam   0.040222
189                        Yemen, Rep.   0.074510
190                             Zambia   0.044548
191                           Zimbabwe  33.796200

[192 rows x 2 columns]

In [63]:
#alternative to reading Excel file by sheet
battle_death2 = pd.read_excel('battledeath.xlsx', sheet_name=1)
battle_death2

    War(country)      2004
0    Afghanistan  9.451028
1        Albania  0.130354
2        Algeria  3.407277
3        Andorra  0.000000
4         Angola  2.597931
..           ...       ...
187    Venezuela  0.000000
188      Vietnam  0.037507
189  Yemen, Rep.  3.602868
190       Zambia  0.041963
191     Zimbabwe  0.509568

[192 rows x 2 columns]

# importing SAS/Stata files

In [78]:
!pip install sas7bdat

Collecting sas7bdat
  Downloading sas7bdat-2.2.3.tar.gz (16 kB)
Requirement already satisfied: six>=1.8.0 in c:\users\user\anaconda3\lib\site-packages (from sas7bdat) (1.15.0)
Building wheels for collected packages: sas7bdat
  Building wheel for sas7bdat (setup.py): started
  Building wheel for sas7bdat (setup.py): finished with status 'done'
  Created wheel for sas7bdat: filename=sas7bdat-2.2.3-py3-none-any.whl size=16294 sha256=cca0761dcbc117dd763308612f8933bbfb19bad6d1ff234ae843309648a37fd7
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\7f\b3\50\0ef27ea1b8d14375a602b74e4dc756cd626e9372c0c27f6ee2
Successfully built sas7bdat
Installing collected packages: sas7bdat
Successfully installed sas7bdat-2.2.3

In [215]:
from sas7bdat import SAS7BDAT
with SAS7BDAT('sales.sas7bdat') as file:
    sas_file = file.to_data_frame()
    print(sas_file.head())

     YEAR     P           S
0  1950.0  12.9  181.899994
1  1951.0  11.9  245.000000
2  1952.0  10.7  250.199997
3  1953.0  11.3  265.899994
4  1954.0  11.2  248.500000

In [84]:
#alternative to importing a sas file
sasfile = pd.read_sas('sales.sas7bdat')
sasfile.head()

     YEAR     P           S
0  1950.0  12.9  181.899994
1  1951.0  11.9  245.000000
2  1952.0  10.7  250.199997
3  1953.0  11.3  265.899994
4  1954.0  11.2  248.500000

In [98]:
#importing a strata file (.dta)

dis_area = pd.read_stata('disarea.dta')
dis_area

,wbcode,country,disa1,disa2,disa3,disa4,disa5,disa6,disa7,disa8,...,disa16,disa17,disa18,disa19,disa20,disa21,disa22,disa23,disa24,disa25
0,AFG,Afghanistan,0.00,0.00,0.76,0.73,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.00,0.00
1,AGO,Angola,0.32,0.02,0.56,0.00,0.0,0.00,0.56,0.00,...,0.00,0.40,0.00,0.61,0.00,0.00,0.99,0.98,0.61,0.00
2,ALB,Albania,0.00,0.00,0.02,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.16
3,ARE,United Arab Emirates,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,ARG,Argentina,0.00,0.24,0.24,0.00,0.0,0.23,0.00,0.00,...,0.00,0.00,0.00,0.00,0.05,0.00,0.00,0.01,0.00,0.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,YEM,Yemen,0.00,0.03,0.00,0.00,0.0,0.00,0.24,0.09,...,0.00,0.19,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
160,ZAF,South Africa,0.00,0.28,0.92,0.00,0.0,0.00,0.32,0.15,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.01,0.00,0.00
161,ZAR,Zaire,0.95,0.00,0.88,0.00,0.0,0.00,0.84,0.86,...,0.66,0.85,0.85,0.85,0.03,0.04,0.90,0.99,1.00,0.00
162,ZMB,Zambia,0.16,0.16,0.44,0.00,0.0,0.00,0.53,0.41,...,0.00,0.00,0.00,0.44,0.00,0.00,0.15,0.02,0.75,0.00
163,ZWE,Zimbabwe,0.00,0.00,0.98,0.00,0.0,0.00,1.00,0.43,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.05,0.51,0.00

# importing HDF5 file

In [5]:
import h5py
filename = 'L-L1_LOSC_4_V1-1126259446-32.hdf5'
data = h5py.File(filename, 'r') #r is to read the file only
print(type(data))
print(data)

<class 'h5py._hl.files.File'>
<HDF5 file "L-L1_LOSC_4_V1-1126259446-32.hdf5" (mode r)>

In [116]:
#finding the structure of the HDF5 file

for key in data.keys():
    print(key)

meta
quality
strain

In [117]:
for key in data['meta'].keys():
    print(key)

Description
DescriptionURL
Detector
Duration
GPSstart
Observatory
Type
UTCstart

In [118]:
for key in data['quality'].keys():
    print(key)

detail
injections
simple

In [119]:
for key in data['strain'].keys():
    print(key)

Strain

In [126]:
group = data['strain']

# Check out keys of group
for key in group.keys():
    print(key)

Strain

In [127]:
strain = data['strain']['Strain'].value
strain

<ipython-input-127-8f59be6c2db0>:1: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  strain = data['strain']['Strain'].value

array([-1.77955839e-18, -1.76552067e-18, -1.71049117e-18, ...,
       -1.76375155e-18, -1.72364846e-18, -1.71969299e-18])

# importing matlab (.mat) files

In [216]:
import scipy.io

filename = 'ja_data2.mat'
mat = scipy.io.loadmat(filename)
mat
type(mat)

dict

In [132]:
mat.keys()

dict_keys(['__header__', '__version__', '__globals__', 'rfpCyt', 'rfpNuc', 'cfpNuc', 'cfpCyt', 'yfpNuc', 'yfpCyt', 'CYratioCyt'])

# importing SQL files

In [36]:
#first create a database engine
#creating a database engine

from sqlalchemy import create_engine

engine = create_engine('sqlite:///Chinook.sqlite')
engine

Engine(sqlite:///Chinook.sqlite)

In [37]:
table_names = engine.table_names()
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

<ipython-input-37-8d744d47b078>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

# quering relational database in python

Workflow of SQL quering
 . Import the required packages and functions
 . create the database engine
 . connect to the engine
 . query the database 
 . save query results to a dataframe
 . close the connection

In [38]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM Album, Artist") #remember to extract table_names so you can select all or some of the columns you want to open
df = pd.DataFrame(rs.fetchall())

con.close()

In [39]:
df.head()

   0                                      1  2  3                  4
0  1  For Those About To Rock We Salute You  1  1              AC/DC
1  1  For Those About To Rock We Salute You  1  2             Accept
2  1  For Those About To Rock We Salute You  1  3          Aerosmith
3  1  For Those About To Rock We Salute You  1  4  Alanis Morissette
4  1  For Those About To Rock We Salute You  1  5    Alice In Chains

In [40]:
#set dataframe column names (showing the names of the columns isntead of index (default))

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')
con = engine.connect()
rs = con.execute("SELECT * FROM Album") #remember to extract table_names so you can select all or some of the columns you want to open
df1 = pd.DataFrame(rs.fetchall())
df1.columns = rs.keys() #showing column names instead of index (default)
con.close() #closing the connection

In [41]:
df1.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [42]:
#using the context manager (alternative to querying relational databases in python)

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Artist")
    df = pd.DataFrame(rs.fetchmany(size=5)) #fetchmany replaces fetchall of which we select the number of rows we want 
    df.columns = rs.keys()
    
#this method is more efficient as it helps tp prevent forgetting to close the connection

In [51]:
df

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [52]:
engine = create_engine('sqlite:///Chinook.sqlite')
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee")
    df = pd.DataFrame(rs.fetchmany(size=5))
df.columns = rs.keys()

In [53]:
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

In [54]:
#selecting particular columns from an sql table and choosing number of rows

with engine.connect() as con:
    rs = con.execute('select LastName, Title from Employee')
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

In [55]:
df

  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent

In [64]:
#filtering your SQL database records using WHERE

with engine.connect() as con:
    rs = con.execute('select * from Employee WHERE EmployeeID >=6')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

In [65]:
df

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,6,Mitchell,Michael,IT Manager,1,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com
1,7,King,Robert,IT Staff,6,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
2,8,Callahan,Laura,IT Staff,6,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

In [68]:
# Ordering your SQL records with ORDER BY

with engine.connect() as con:
    rs = con.execute('select * from Employee order by BirthDate')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

df.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
3,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com
4,8,Callahan,Laura,IT Staff,6.0,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com

# the pandas way to query (importing sql-query data) with pandas

pandas offers a faster and efficient way to query instead of writing all those 4 to 5 lines of code

Steps of quering with pandas
. create an engine
. create pandas dataframe

In [43]:
engine = create_engine('sqlite:///Chinook.sqlite')
df = pd.read_sql_query('select * from Album', engine)
df

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [74]:
# ordering (ORDER BY) and filtering (WHERE) using pandas for quering

df = pd.read_sql_query('SELECT * FROM Employee WHERE employeeid >= 6 ORDER BY BirthDate', engine)
df.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,8,Callahan,Laura,IT Staff,6,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
1,7,King,Robert,IT Staff,6,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
2,6,Mitchell,Michael,IT Manager,1,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com

# Advanced querying: exploiting table relationships
# joining tables in Python (Pandas) 

query can be used to find similarities between columns in an each table within an SQL database. 
tables can be joined just like in an Excel file when columns have similarities to ease analysis.

In [89]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')
engine

Engine(sqlite:///Chinook.sqlite)

In [90]:
table_names = engine.table_names()
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

<ipython-input-90-8d744d47b078>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

In [91]:
album = pd.read_sql_query('select * from Album', engine)
album

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

In [100]:
artist = pd.read_sql_query('select * from Artist', engine)
artist.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [101]:
customer = pd.read_sql_query('select * from Customer', engine)
customer.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [102]:
employee = pd.read_sql_query('select * from Employee', engine)
employee.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Adams,Andrew,General Manager,NaN,1962-02-18 00:00:00,2002-08-14 00:00:00,11120 Jasper Ave NW,Edmonton,AB,Canada,T5K 2N1,+1 (780) 428-9482,+1 (780) 428-3457,andrew@chinookcorp.com
1,2,Edwards,Nancy,Sales Manager,1.0,1958-12-08 00:00:00,2002-05-01 00:00:00,825 8 Ave SW,Calgary,AB,Canada,T2P 2T3,+1 (403) 262-3443,+1 (403) 262-3322,nancy@chinookcorp.com
2,3,Peacock,Jane,Sales Support Agent,2.0,1973-08-29 00:00:00,2002-04-01 00:00:00,1111 6 Ave SW,Calgary,AB,Canada,T2P 5M5,+1 (403) 262-3443,+1 (403) 262-6712,jane@chinookcorp.com
3,4,Park,Margaret,Sales Support Agent,2.0,1947-09-19 00:00:00,2003-05-03 00:00:00,683 10 Street SW,Calgary,AB,Canada,T2P 5G3,+1 (403) 263-4423,+1 (403) 263-4289,margaret@chinookcorp.com
4,5,Johnson,Steve,Sales Support Agent,2.0,1965-03-03 00:00:00,2003-10-17 00:00:00,7727B 41 Ave,Calgary,AB,Canada,T3B 1Y7,1 (780) 836-9987,1 (780) 836-9543,steve@chinookcorp.com

# Inner joining tables in Python (Pandas Query)

The Chinook.sqlite database has 2 tables (Album and Artist) with similar column names (ArtistID). 
These tables can be joined using an inner join with Python Pandas for SQL files.

In [42]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///Chinook.sqlite')
df = pd.read_sql_query('SELECT AlbumId, Name FROM Album INNER JOIN Artist on Album.ArtistId = Artist.ArtistId', engine)
df

     AlbumId                                               Name
0          1                                              AC/DC
1          4                                              AC/DC
2          2                                             Accept
3          3                                             Accept
4          5                                          Aerosmith
..       ...                                                ...
342      342   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
343      344                             Emerson String Quartet
344      345  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
345      346                                      Nash Ensemble
346      347                              Philip Glass Ensemble

[347 rows x 2 columns]

# Inner Joining Table Practice Test

. Assign to rs the results from the following query: select all the records, extracting the Title of the record and Name of the artist of each record from the Album table and the Artist table, respectively. To do so, INNER JOIN these two tables on the ArtistID column of both.

. In a call to pd.DataFrame(), apply the method fetchall() to rs in order to fetch all records in rs. Store them in the DataFrame df.

. Set the DataFrame's column names to the corresponding names of the table columns.

In [45]:
# using the context manager method

from sqlalchemy import create_engine
import pandas as pd

with engine.connect() as con:
    rs = con.execute("select Title, Name from Album INNER JOIN Artist on Artist.ArtistID = Album.ArtistID")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())

                                   Title       Name
0  For Those About To Rock We Salute You      AC/DC
1                      Balls to the Wall     Accept
2                      Restless and Wild     Accept
3                      Let There Be Rock      AC/DC
4                               Big Ones  Aerosmith

In [48]:
#using pandas method

engine = create_engine('sqlite:///Chinook.sqlite')
df = pd.read_sql_query('select Title, Name from Album INNER JOIN Artist on Artist.ArtistID = Album.ArtistID', engine)
print(df.head())

                                   Title       Name
0  For Those About To Rock We Salute You      AC/DC
1                      Balls to the Wall     Accept
2                      Restless and Wild     Accept
3                      Let There Be Rock      AC/DC
4                               Big Ones  Aerosmith